<% if (fourDayForecast) { %>
    <h2>Four Day Forecast</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature (째C)</th>
                <th>Minimum Temperature (째C)</th>
                <th>Pressure (hPa)</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% fourDayForecast.forEach(day => { %>
                <tr>
                    <td><%= day.date %></td>
                    <td><%= day.temperature %>째C</td>
                    <td><%= day.temp_min %>째C</td>
                    <td><%= day.pressure %> hPa</td>
                    <td><%= day.description %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>
